<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contrase単a</title>
</head>

<body>
    <h1>Hola, {{name}}.</h1>
    <p>Recibimos una solicitud para restablecer la contrase単a de tu cuenta.</p>
    <p>Para continuar, haz clic en el siguiente enlace:</p>
    <p><a href="{{resetLink}}">Restablecer contrase単a</a></p>
    <p>Si no solicitaste el restablecimiento de la contrase単a, por favor ignora este correo.</p>
    <footer>
        <p>Saludos, <br> El equipo de [Nombre de la Plataforma]</p>
    </footer>
</body>

</html>